.NewToDoForm {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: orangered;
}

.InputForm {
    display: inline-block;
    margin-right: 1em;
}

#label {
    color: white;
    padding-right: 0.5em;
}