.main-container {
    background-color: orangered;
    justify-content: center;
    text-align: center;
    margin: 3em;
    padding: 3em;
}

#title {
    color: white;
}

#subtitle {
    color: white;
}