.ToDo {
    display: flex;
    background-color: orangered;
    text-align: center;
    justify-content: center;
    margin: 0.5em;
}

.ToDoDiv {
    display: inline-block;
    margin-left: 1em;
}

.Edit {
    display: inline-block;
    margin-left: 0.5em;
}

.Delete {
    display: inline-block;
    margin-left: 0.5em;
}

.completed {
    text-decoration: line-through;
    color: lightgrey;
}