.ToDo {
    display: flex;
    background-color: orangered;
    width: 20em;
    text-align: center;
    justify-content: center;
    margin: 0.5em;
}

.ToDoDiv {
    display: inline-block;
    padding-right: 1em;
}

.Edit {
    display: inline-block;
    padding-right: 0.5em;
}

.Delete {
    display: inline-block;
    padding-right: 0.5em;
}